#main {
    background-image: url(../img/room-back-ground.png);
    height: 735px;
    width: 100%;
    background-size: 100% auto;
}

/*=================================================================*/

.room-list {
    position: fixed;
    top: 45%;
    left: 68%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 4px solid #6ad1d1;
    border-radius: 16px;
    width: 420px;
    height: 550px;
	text-align:center;
	font-size:30px;
    padding: 10px;
	font-family: Comic Sans MS;
	overflow-y: scroll;
}

.room-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.room-link {
    text-decoration: none;
}

.hide {
    display: none;
}

#searchRoomButton {
    cursor: pointer;
}

.room-item {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 10px;
    border: 3px solid #6ad1d1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    height: var(--height);
    --height: 50px;
	font-family: TimesNewRoman;
}
.room-status {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    line-height: var(--height);
}
.room-name {
    font-size: 14px;
}
.room-quantity {
    align-items: center;
    display: flex;
}

/*=================================================================*/


.back-container {
	position: absolute;
    top: 90%;
    left: 90%;
    margin: 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 4px solid #6ad1d1;
    border-radius: 16px;
    width: 95px;
	text-align:center
}

.back-link {
	text-decoration: none;
}


.back-icon:before {
	font-family: 'iconfont';
    content: "\ea24";
	border:2px;
    font-size: 29px;
    color: #6ad1d1;
	-webkit-text-stroke-width: 2px;
}


/*=================================================================*/

.id-container {
	padding: 10px;
	text-align: center;
	font-size: 25px;
}

.search-icon:after {
	font-family: 'iconfont';
    content: "\e9fb";
    font-size: 27px;
    color: #707070;

}

/*=================================================================*/

.private-room{
	position: fixed;
    top: 45.5%;
    left: 27%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 4px solid #6ad1d1;
    border-radius: 16px;

	text-align:center;
	font-size:30px;
    padding: 15px;
	font-family: Comic Sans MS;
}

.id-container{
	background-color: #fff;
    border: 4px solid #6ad1d1;
    border-radius: 16px;
    padding: 10px;
    margin: 15px;
	height:180px;
	
}

.id-link{
	text-decoration: none;
}

.id-text{

	padding: 10px;
    margin: 10px;
}

.id-join{
	transform: translate(60%, 17%);
	background-color: white;
    border: 4px solid #6ad1d1;
    border-radius: 50%;
	color:white;
	width:80px;
	text-align:center;
	padding: 10px;
    margin: 10px;	
}

.id-icon:before {
	font-family: 'iconfont';
    content: "\e93f";
    font-size: 27px;
    color: #6ad1d1;
	-webkit-text-stroke-width: 3px;

}