<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game - Caro online</title>
    <meta http-equiv ="Content-Type" content ="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        window.addEventListener('beforeunload', function (e) {
            // Cancel the event
            e.preventDefault(); // If you prevent default behavior in Mozilla Firefox prompt will always be shown
            // Chrome requires returnValue to be set
            e.returnValue = 'Haha';
        });
    </script>
    <link th:href="@{/css/game.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper row w-100">
    <div class="ui row col-sm-3">
        <div class="player-name m-auto p-2 text-center w-75"><h6 th:text="${player3}" id="player3"></h6></div>
        <div class="chat-box row h-50 mx-3 my-auto p-1">
            <ul class="chat-content h-75 my-auto" id="chat-box">
            </ul>
            <form class="chat-form" id="chat-form" name = "chat-form" onsubmit="e => sendMessage(e)">
                <div class="form-group">
                    <input type="text" class="form-control" id="chat-input" name="chat-input" placeholder="Chat..." autocomplete="off">
                </div>
            </form>
        </div>
        <div class="player-name m-auto p-2 text-center w-75"><h6 th:text="${player2}" id="player2"></h6></div>
    </div>
    <div class="game-board h-100 col-sm-7">
        <table id="board">
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content">
                    </div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
                <td>
                    <div class="td-content"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="ui row col-sm-2">
        <button id="idbtn" class="btn btn-outline-primary w-75 m-auto" onclick="copyRoomId()">Copy ID phòng</button>
        <div class="game-menu row h-50 m-0">
            <h6 class="player-name m-auto p-2 text-center w-75" id="waiting_time">30s</h6>
            <button class="btn btn-outline-success w-75 m-auto" id="start-btn" onclick="startGame()">Bắt đầu</button>
            <a href="/" class="btn btn-outline-success w-75 m-auto" onclick="leaveRoom()">Thoát</a>
        </div>
        <div class="player-name m-auto p-2 text-center w-75 myself"><h6 th:text="${name}" id="username"></h6></div>
    </div>
</div>
<div class="d-none">
    <p th:text="${roomName}" id="roomname"></p>
    <p th:text="${roomCategory}" id="roomcategory"></p>
    <p th:text="${isHost}" id="isHost"></p>
    <p th:text="${roomId}" id="roomId"></p>
    <p th:text="${userId}" id="userid"></p>
</div>
</body>
<script th:src="@{/js/game.js}"></script>
<script type="text/javascript">
    const cells = document.querySelectorAll('td');
    cells.forEach(cell => {
        cell.addEventListener('click', () =>
            makeMove(cell.cellIndex,cell.closest('tr').rowIndex));
    });
    createGame();
</script>
</html>