<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/landing.css}">
    <title>Caro online</title>
</head>
<body onload="getCookies()">
    <h1>Caro online</h1>
    <form action="/sharedRoom" method="POST">
        <div class="container">
            <label for="name"><b>Tên người chơi</b></label>
            <input type="text" name="name" id="name" class="txtname" value="" autocomplete="off" onblur="setCookies()" required>
            <hr class="hr-name">
        </div>
        <div>
            <input type="submit" name="play" id="quick-play" value="Chơi ngay" class="btn">
            <button type="button" class="btn" onclick="openForm()">Tạo phòng</button>
            <input type="submit" name="join" id="join-room" value="Tìm phòng" class="btn">
            <div class="create-room-panel" id="create-room-panel">
                <div class="room-name">
                    <label for="room-name"><b>Tên phòng :</b></label>
                    <input type="text" name="room-name" id="room-name" autocomplete="off" onfocus="normalize();">
                </div>
                <div class="opt-room">
                    <input type="radio" name="room-kind" id="room-public" value="public"  checked>
                    <label class="radio-btn" for="room-public"> <b>Mở</b></label>
                    <input type="radio" name="room-kind" id="room-private" value="private" >
                    <label class="radio-btn" for="room-private"> <b> Riêng tư </b></label>
                </div>
                <div class="create-room">
                    <button type="button" class="btn btn-create-room" onclick="closeForm()" >Huỷ</button>
                    <input type="submit" onclick="return checkFill();" name="create" id="create-room" value="Tạo" class="btn btn-create-room">
                </div>
            </div>
        </div>
    </form>

</body>
<script>
    function openForm() {
        document.getElementById("create-room-panel").style.display = "block";
        document.getElementById("room-name").value = "Phòng của " + document.getElementById("name").value;
    }

    function closeForm() {
        document.getElementById("create-room-panel").style.display = "none";
    }
    function checkFill(){
        txt = document.getElementById("room-name").value;
        if(txt==""||txt=="Nhập tên phòng vào đây"){
            document.getElementById("room-name").placeholder  = "Nhập tên phòng vào đây";
            return false;
        }
        return true;
    }
    function setCookies(){
        txt = document.getElementById("name").value;
        document.cookie =  "name="+txt;
    }
    function getCookies(){
        let name = "name=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) === 0) {
                if(c.substring(name.length, c.length) === " " || c.substring(name.length, c.length) === "") {
                    document.getElementById("name").value = "John Witch 1";
                    return;
                }
                document.getElementById("name").value = c.substring(name.length, c.length);
                return;
            }
        }
        document.getElementById("name").value = "John Witch 1";
    }
</script>
</html>