<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caro</title>
    <link rel="stylesheet" th:href="@{/css/room.css}">
    <link href="https://doannguyennet.github.io/iconsfont/iconfont.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div id="main">
    <div class="room-list">
        <b>Public Room</b><br>
        <input style="font-size:17px;" type=”text” name=”id” placeholder="Search">
        <a href="" class="back-link">
            <i class="search-icon"></i>
        </a>

        <div th:if="${publicRooms.empty}" style="margin-top: 50px" class="bg-danger text-white">Hiện tại không có phòng
            công khai.
        </div>

        <div th:if="${!publicRooms.empty}">
            <div th:each="room : ${publicRooms}">
                <form action="/game/join" method="POST">
                    <input style="display: none" type="text" name="playerId" th:value="${userID}">
                    <input style="display: none" hidden type="text" name="roomId" th:value="${room.roomId}">
                    <div class="room-item-container">
                        <div class="room-item">
                            <div class="room-status">
                            </div>
                            <span th:text="${room.roomName}" class="text-dark font-weight-bold room-name"></span>
                            <div class="room-quantity">

                                <p><th:block th:text="${room.memberInRoom}" />/3</p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Join</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="back-container">
        <form name="back" action="">
            <a href="/index" class="back-link">
                <i class="back-icon"></i>
            </a>
        </form>
    </div>

    <div class="private-room">
        <b>Private Room</b><br>
        <div class="id-container">
            <b>Nhập ID</b> <br>
            <div class="id-text">
                <input style="font-size:20px;" type=”text” id="roomId" name="roomId" placeholder="Enter room ID"
                       autocomplete="false"></br>
            </div>
            <div class="id-join">
                <i id="searchRoomButton" class="id-icon"></i>
            </div>
            <div>
                <input type="text" th:value="${userID}" id="playerId" name="playerId">
            </div>
        </div>
    </div>

    <!-- Confirm Private Room Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="/game/join" method="POST">
                    <input hidden type="text" name="playerId" th:value="${userID}">
                    <input hidden type="text" id="privateRoomId" name="roomId">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Alert</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="noRoomFound" class="alert alert-danger" role="alert">
                            No room found!
                        </div>
                        <div id="foundRoom" class="alert alert-success" role="alert">
                            <span id="roomFoundInfo"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="confirmJoinButton" type="submit" class="btn btn-success">Join</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/room.js}"></script>
</html>